<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="common/layout :: head">
</head>
<body>
	<header th:replace="common/tmp_header :: nav_list">
	</header>
	<!-- mensaje flash: se muestra solo una vez -->
	<div th:if="${mensaje != null}"	 th:text="${mensaje}" th:class="'alert alert-' + (${clase != null} ? ${clase} : info)"	 >
	</div>
	<div class="container">
		<h1 class="text-primary border border-success border-top-0 border-end-0 border-start-0" th:text="${title}"></h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>nombre</th>
					<th>apellido</th>
					<th>email</th>
					<th>fecha</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente: ${lClients}">
					<td th:text="${cliente.id}"></td> <!--  va a llamar al metodo getId() -->
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.apellido}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.createAt}"></td>
					<td> <a class="btn btn-success btn-xs" th:href="@{'/form/' + ${cliente.id}}" th:text="'Editar'">Editar</a> </td>
					<td> <a class="btn btn-danger btn-xs" th:href="@{'/delete/' + ${cliente.id}}" th:text="'Eliminar'"
						onclick="return confirm('Estas seguro que queires eliminar?');">Eliminar</a> </td>
				</tr>
			</tbody>
		</table>
	</div>

	<footer th:replace="common/tmp_footer :: footer">	</footer>
	<div th:replace="common/layout :: script " th:remove="tag"/>
</body>
</html>