<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h3 th:text="${titulo}">Título principal de la página</h3>
	<form th:action="@{/form}" method="post" th:object="${user}">
		<label for="identificador">Identificador</label>
		<div>
			<input id="identificador" type="text" th:field="*{identificador}" />
		</div>
		<div th:if="${#fields.hasErrors('identificador')}"
			th:errors="*{identificador}"></div>

		<label for="names">Nombre</label>
		<div>
			<input id="names" type="text" th:field="*{nombre}" />
		</div>
		<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>

		<label for="apellido">Apellido</label>
		<div>
			<input id="apellido" type="text" th:field="*{apellido}" />
		</div>
		<div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>

		<label for="username">Username</label>
		<div>
			<input id="username" type="text" th:field="*{username}" />
		</div>
		<!--  Mostramos el mensaje de error (que es un mapa) si exisitera, Opción map.get() -->
		<!--
		<div th:if="${error != null && error.containsKey('username')}"
			th:text="${error.get('username')}"></div>
		-->
		<!--  Mostramso el mensaje de error a través de un objeto utilidad o helper -->
		<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

		<label for="password">Password</label>
		<div>
			<input name="password" id="password" type="password" />
		</div>
		<!--  Mostramos el mensaje de error (que es un mapa) si exisitera, Opción map.key de Thymeleaf -->
		<!--  <div th:if="${error != null && error.containsKey('password')}"></div> -->
		<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

		<label for="email">Email</label>
		<div>
			<input id="email" type="text" th:field="*{email}" />
		</div>

		<!--  <div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></div> -->
		<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

		<!-- Campo cuenta tipo numerico -->
		<label id="count">Cuenta</label>
		<div>
			<!--  <input id="count" type="text" th:field="*{cuenta}"/> -->
			<!--  captura como un string -->
			<input id="count" type="number" th:field="*{cuenta}" />
			<!--  captura como un number -->
			<div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
		</div>

		<!--  Campo para captura la fecha de cumpleaños "birthday" como String/Date/Datetime-local-->
		<label id="birthday">Fecha de nacimiento:</label>
		<div>
			<!--  captura como un string -->
<!-- 
			<input id="birthday" type="text" th:field="*{birthday}" placeholder="yyy/MM/dd HH:mm:ss" />
-->
<!-- 
			<!--  captura como fecha: -->
			<!--  OPCION A: captura como un date: solo añade fecha, no añade horas, minutos y segundos -->
<!-- 
			<input id="birthday" type="date" th:field="*{birthday}"/>
-->
			<input id="birthday" type="datetime-local" th:field="*{birthday}" step="1"/>
			<!--  OPCION B: captura como un date: solo añade fecha, con horas, minutos y segundos -->
<!--  			
			<input id="birthday" type="datetime-local" th:field="*{birthday}" step="1"/>
-->			
			<!-- mostrar mensjae mensaje de error si falla al validar la fecha -->
			<div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" ></div>
		</div>
		

		<div>
			<input value="Enviar" type="submit" />
		</div>
	</form>
</body>
</html>